body{
    margin: 0;
    padding: 0;
    background-image: url(IMG_20241101_124927_194~2.jpg);
    background-size: cover;
    height: 200px;
    font-family: are;
    
}
.box{
    height: 270px;
    width: 230px;
    background-color: #000;
    position: absolute;
    color: #fff;
    transform: translate(-50%, -40%);
    left: 51%;
    top: 50%;
    padding: 70px 30px;
    border-radius: 10px;
    
}
.image{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    position: absolute;
    top: -75px;
    left: calc(50% - 75px);
}
h1{
    text-align: center;
    font-size: 25px;
    font-family: serif;
}
h2{
    border: none;
    outline: none;
    height: 25px;
    background-color: tomato;
    color: #fff;
    font-size: 20px;
    border-radius: 25px;
    text-align: center;
    color: #000;
}
.box input{
    width: 100%;
    margin-bottom: 20px;
    
}
.box input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 15px;
   
}
.box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background-color: tomato;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    
}
.box input[type="submit"]:hover{
    cursor: pointer;
    background-color: #ffc107;
}
.box a:hover{
    text-decoration: none;
    font-size: 12px;
    color: #000;

}
.box a:hover{
    color: #ffc107;
}